<% include ./partials/header %>

<div class="container main-content">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top fluid" src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b209b87443cca9d7d140ec0dd49fe21&auto=format&fit=crop&w=1050&q=80" alt="Microprocessor" >
            <div class="card-body">
                <h5 class="card-title">Three-staged Pipelined Processor</h5>
                <p class="card-text">Designed and coded a three staged pipelined 64-bit 
                processor with single instruction multiple data (SIMD) capabilities in VHDL.
                </p>
            </div>
            <div class="card-footer">
                <span class="badge badge-primary">VHDL</span>
                <div>
                    <small><a href="https://github.com/rickyzhangNYC/Three-Staged-Pipelined-Multimedia-Cell-Lite-Unit/blob/master/README.md" target="__blank">Details in GitHub</a></small>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top fluid" src="https://images.unsplash.com/photo-1517077304055-6e89abbf09b0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f799bed83db2959c476e69a3307d39e&auto=format&fit=crop&w=1050&q=80" alt="Circuit board">
            <div class="card-body">
                <h5 class="card-title">Mosquito Detector on Raspberry Pi</h5>
                <p class="card-text">Designed a real time mosquito detector in Python to detect
                frequencies and perform Fast Fourier Transforms (FFTs) and communicate with the 
                rest of the circuit that the project group designed together.
                </p>
            </div>
            <div class="card-footer">
                <span class="badge badge-success">Python</span>
                <div>
                    <small><a href="https://github.com/rickyzhangNYC/Senior-Design/blob/master/README.md" target="__blank">Details in GitHub</a></small>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top fluid" src="https://images.unsplash.com/photo-1527356900876-cae61d8d8462?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bb85b5729d7f484f0710b63b3da0908d&auto=format&fit=crop&w=1055&q=80" alt="Breadboard Circuit">
            <div class="card-body">
                <h5 class="card-title">Dual Slope 16-bit ADC with SPI interface</h5>
                <p class="card-text">Developed a controller for a 16-bit analog to digital converter to read voltages from peripherals such as DIP switches, rotary switches, 
        voltage sources, etc.
                </p>
            </div>
            <div class="card-footer">
                <span class="badge badge-primary">VHDL</span>
                <div>
                    <small><a href="https://github.com/rickyzhangNYC/Dual-Slope-16-bit-ADC-with-SPI-Interface" target="__blank">Details in GitHub</a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top fluid" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37c91c8e3f63462e0739c676dfe8fee8&auto=format&fit=crop&w=1350&q=80" alt="Program" >
            <div class="card-body">
                <h5 class="card-title">Producer Consumer Problem</h5>
                <p class="card-text">Developed program to transfer bytes in order to reproduce Producer and Consumer problem. Implemented in C++ in a UNIX environment using system call.</p>
            </div>
            <div class="card-footer">
                <span class="badge badge-danger">C</span>
                <div>
                    <small><a href="#">Details in GitHub</a></small>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top fluid" src="https://images.unsplash.com/photo-1499673610122-01c7122c5dcb?ixlib=rb-0.3.5&s=c0b21857d4eb19989d2e0d543894ac6e&auto=format&fit=crop&w=1226&q=80" alt="Program">
            <div class="card-body">
                <h5 class="card-title">Unix Shell Interpreter</h5>
                <p class="card-text">Programmed a UNIX Shell interpreter in C using parent and child proccesses to take in user input and perform
                the correct function.</p>
            </div>
            <div class="card-footer">
                <span class="badge badge-danger">C</span>
                <div>
                    <small><a href="#">Details in GitHub</a></small>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top fluid" src="https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d39fe8df8ff9407562e2f89aec3c1318&auto=format&fit=crop&w=1350&q=80" alt="Program">
            <div class="card-body">
                <h5 class="card-title">3 Link Disjoint Shortest Paths</h5>
                <p class="card-text">Developed a program to retraverse through a specified graph to
                discover the shortest path from source to destination node, deleting it, and repeating the step 3 times using
                a modified version of dijkstra's algorithm.</p>
            </div>
            <div class="card-footer">
                <span class="badge badge-success">Python</span>
                <div>
                    <small><a href="https://github.com/rickyzhangNYC/3-link-disjoint-shortest-paths">Details in GitHub</a></small>
                </div>
            </div>
        </div>
        
    </div>
</div>
<% include ./partials/footer %>