/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  
  body{
      font-family: 'Roboto', sans-serif;
      margin-bottom: 70px;
      padding-top: 3.5rem;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    text-align: center;
  }
  
  .love{
      color: #ed2f52;
  }
  
  .coffee{
      color: #ad5600;
  }
  
  /*Navbar transitions*/
  a, a:hover, a:focus, a:target { 
    text-decoration: none;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in; }
  
  nav li a {
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in; }
  
  #projects::before{
    display: block; 
    content: " "; 
    margin-top: -60px; 
    height: 60px; 
    visibility: hidden; 
  }
  
  
  /* Main Content
  ------------------------- */
  .main-content{
    text-align: center;
    padding-top: 40px;
  }
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  /*Projects */
  .project-names{
    font-size: 1.5rem;
  }
  
  /* Card Deck/Cards
  ------------------------- */
  .card-deck{
    margin-bottom: 30px;
  }
  
  .card-text{
    text-align: center;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  .text-align {
      text-align: center;
  }
  
  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
      .text-align {
          text-align: center;
      }
  }
  
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
      .text-align {
          text-align: justify;
      }
  }
  
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
      .text-align {
          text-align: justify;
      }
  }

